Flask==3.1.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1

SQLAlchemy==2.0.41

bcrypt==4.3.0
argon2-cffi==25.1.0

pandas==2.3.0
numpy==2.3.1

matplotlib==3.10.3
seaborn==0.13.2
plotly==6.1.2

reportlab==4.4.2
fpdf2==2.8.3

Flask-WTF==1.2.2
email-validator==2.2.0

python-dotenv==1.1.0

pytest==8.4.1
black==25.1.0