{% extends "base.html" %}

{% block title %}
Policy Checker
{% endblock %}

{% block content %}

<div class="card card-dark">

    <div class="card-body">

        <h3 class="mb-4">
            Password Policy Checker
        </h3>

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">
                    Enter Password
                </label>

                <input
                    type="text"
                    name="password"
                    class="form-control custom-input"
                    required>

            </div>

            <button
                type="submit"
                class="btn btn-main">

                Check Policy

            </button>

        </form>

        {% if result %}

        <hr class="my-4">

        <table class="table table-dark">

            <thead>

                <tr>

                    <th>Requirement</th>
                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

                <tr>
                    <td>Minimum Length (12)</td>
                    <td>
                        {% if result.minimum_length %}
                        ✅ Pass
                        {% else %}
                        ❌ Fail
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Uppercase Character</td>
                    <td>
                        {% if result.uppercase %}
                        ✅ Pass
                        {% else %}
                        ❌ Fail
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Lowercase Character</td>
                    <td>
                        {% if result.lowercase %}
                        ✅ Pass
                        {% else %}
                        ❌ Fail
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Digit</td>
                    <td>
                        {% if result.digit %}
                        ✅ Pass
                        {% else %}
                        ❌ Fail
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Special Character</td>
                    <td>
                        {% if result.special_character %}
                        ✅ Pass
                        {% else %}
                        ❌ Fail
                        {% endif %}
                    </td>
                </tr>

            </tbody>

        </table>

        {% endif %}

    </div>

</div>

{% endblock %}